/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap'); /*DM Sans*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /*Playfair Display*/

/*Généralités*/
* {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(249,245,229);
}

#wrapper{
    display:flex; 
    flex-direction:column;
    min-height: 100vh;
}

#mainpage{
    flex-grow:1;
}


a{
    text-decoration: none;
    color: rgb(200, 133, 75);
    font-weight: 500;
    display: inline-block;
    position: relative;
}

li{
    list-style: none;
}

textarea {
    resize: none;
 }

/*Petit effet d'animation des liens*/

a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(200, 133, 75);
    transition: transform 0.4s;
}
  
a:hover::after {
    transform: scaleX(1);
}

/*Titres*/
h1, h2, h3{
    color: rgb(200, 133, 75);
    font-family: 'Playfair Display', sans-serif;
    font-style : italic;
    text-align: center;
    text-transform: lowercase;
}

h1{
    margin-bottom: 80px;
    text-align : center;
}

/*NavBar*/

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 40px 70px 40px;
}
nav a{
    margin : 0 20px 0 20px;
}

#titreForum{
    font-family: 'Playfair Display', sans-serif;
    font-weight: 900;
    font-style : italic;
    font-size: 18pt;
}

/*Coeur de page*/

#forum{
    padding : 0 200px 0 200px;
}

/*Page Home*/
.homeLiens{
    text-align: center;
}

/*Page Liste des catégories*/
.catListe{
    text-align: center;
    font-size: 16pt;
    line-height: 40pt;
}

/*Pages Liste des topics*/
.uniteTopic{
    margin : 20px 0 20px 0;
}

.nvTopic{
    margin-bottom : 20px;
}

.detailsTopic{
    font-style: italic;
    font-size: 11pt;
}

.fa-message{
    font-size: 9pt;
}

/*Pages Liste des posts*/
.formulaireNvPost{
    margin-top: 20px;
    width: 55%;
    padding: 20px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23C8854BFF' stroke-width='2' stroke-dasharray='8%2c 16' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.champTxtPost{
    margin : 10px 0px 10px 0px;
    width : 100%;
    padding: 5px;
    border: 1px solid rgb(200, 133, 75);
    background-color: rgb(249,245,229) ;
}

h1 .fa-solid{
    color : black;
}

.topicFunctions{
    text-align: center;
    margin-top: -70px;
    margin-bottom: 80px;
}


/*Sign-in & Log-in*/

.formWrapper{
    display: flex;
    justify-content: center;
}

.formulaire{
    width: 35%;
    padding: 40px;
    font-size: 14pt;
    /*border: 1px dashed black;*/
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23C8854BFF' stroke-width='2' stroke-dasharray='8%2c 16' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.champTxt{
    margin : 10px 0px 10px 0px;
    width : 100%;
    height: 25px;
    padding-left: 5px;
    border: 1px solid rgb(200, 133, 75);
    background-color: rgb(249,245,229) ;
}

.submitWrapper{
    text-align: center;
}

.submit{
    margin-top: 15px;
    padding: 5px 20px 5px 20px;
    font-size: 12pt;
    color:rgb(200, 133, 75);
    /*background-color: rgb(249,245,229);*/
    
    border: 1px solid rgb(200, 133, 75);
    border-radius: 50px;
    font-weight: 600;
    transition: .3s;
    cursor: pointer;

    background: linear-gradient(to right, rgb(200, 133, 75) 50%, rgb(249,245,229) 50%);
    background-size: 200% 100%;
    background-position:right bottom;
}

.submit:hover{
    background-color: rgb(200, 133, 75);
    color:rgb(249,245,229);
    background-position: left bottom;
}

.tinyTxt{
    font-size: 9pt;
    text-align: right;
}

/*Profil*/
.detailsProfil{
    line-height: 30pt;
}

.listProfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.changeRole{
    margin-top: 100px;
}
   
/*Footer*/
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 30px;
}